<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h1> Hello world </h1>
  <body>
    <% @searched_users.each do |user| %>

      <li id=<%=user.id%> href=<%=user_path(user.id)%> ><%= user.firstname  %></li>

    <%end%>

  </body>
</html>
